.venv/
codebase/__pycache__/
__pycache__/

api/api_temporary/
api/generator_temporary/
api/logs.txt
api/perf.text

cmd/logs.txt
cmd/perf.txt
cmd/generator_temporary/
cmd/status.json

generated.mp4
intermediate.mp4
generated/